<html>
  <head>
    <title>First sinartra sample</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
  </head>
<body>
<center>
  <form action="/form" method="post">
  <h1>Please type your message</h1>
    <label>Message</label><input type="text" name="message">
    <button type="submit" name="submit">Submit</button>  
  </form>
  </center>
</body>
</html>