<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <p>Please select type of operation you want to perform</p>
    <li><a href="show">Show</a></li>
    <li><a href="add">Add user</a></li>
  </body>
</html>