<html>
  <head>
    <title>User</title>
  </head>
  <body>
    <p>Current user in your database are</p>
    <form action='/conform' method='post'>
    <label for="name">NAME</label> <input type="text" name="name" id="name" class="name"><br/>
    <input type="submit" value="submit">
    </form>
   </body>
</html>

    