<html>
  <head>
    <title>User</title>
  </head>
  <body>
    <p>User Register Form</p>
    <form action='/conform' method='post'>
    <label for="name">NAME</label> <input type="text" name="name" id="name" class="name"><br/>
    <button type="submit" name="" ="submit"> Submit</button>
    </form>
   </body>
</html>

    